body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
.active {
  color: rgb(246, 250, 248);
  font-size: 2rem;
  margin-left: 25px;
  padding-left: 5px;
}
.title{
  font-weight: 600;
  font-size: 20px;
  color: rgb(43, 255, 0);
  padding-bottom: 10px;
  text-transform: capitalize;
  
}
.name_title{
  font-weight: 600;
  color:red;
  text-transform: uppercase;
}
.card {
  padding: 5px 10px 5px 10px;
  margin: 10px 10px 10px 10px;
  border-radius: 20px;
  background-color: rgb(235, 141, 141);
  
}
.card:hover {
  border-color: #21bdd8;
  transform: scale(1.3);
}
.imgLogo{
  border-radius: 80px;
}
h1{
  color: blue;
}
.buttonDetails{
  background-color: rgb(53, 58, 58);
  color: rgb(239, 234, 243);
  border-radius: 5px;
  padding-left: 5px;
  margin-left: 15px;
}
.contentLink{
 
  margin-right: 15px;
}